
.container {
	text-align: center;
	margin-top: 50px;
}

table {
	margin: auto;
}

#screen {
	margin-bottom: 20px;
}

input {
	font-size: 32px;
}

button {
	padding: 10px 30px;
	margin: 5px;
	font-size: 25px;
}

